<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Qabr Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Qabr Questions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col size="12">
      <p class="ion-padding" style="color: green">“The Messenger of Allah Prophet Muhammad(ﷺ) said:
        ‘The grave is the first of the stages of the Hereafter; whoever is saved from it, whatever comes afterwards
        will be easier for him, but if he is not saved from it, what comes afterwards will be worse for him.’”
        And the Messenger of Allah Prophet Muhammad(ﷺ) said: “I have never seen any scene
        but the grave is more frightening than it.”</p>
    </ion-col>
    <ion-col size="12">
      <table class="sawaal_image">
        <tr>
          <th style="text-align: center">Questions</th>
        </tr>
        <tr>
          <td><br /></td>
        </tr>
        <tr>
          <img src="./assets/imgs/Q1.png" class="sawaal_img ">
        </tr>
        <tr>
          <img src="./assets/imgs/qabr.png" class="sawaal_img ">
        </tr>
        <tr>
          <img src="./assets/imgs/Q3.png" class="sawaal_img ">
        </tr>
      </table>
    </ion-col>
  </ion-row>
</ion-content>