div.topic {
    font-size: 1.3rem;
    margin: 0 10px;
}

ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    height: 100px;
    display:flex;
    align-items: center;
  }

